section.about-section
  .wrapper
    .about-section__container
      img.about-section__img-1(src="images/about-section-img-1.png" loading="lazy" width="1112" height="1274" alt="image")
      img.about-section__img-2(src="images/about-section-img-2.png" loading="lazy" width="882" height="827" alt="image")
      h2.about-section__title.font-w-black.font-s-40.text-up
        | Подробнее о нашем агентстве
      .about-section__text.font-w-regular.font-s-22.color-black
        | Рекламное агентство «PR COLOR» открылось в 2013 году в г. Ишимбай. Мы занимаемся печатью и размещением 
        br.no-br-xxl
        | листовок в лифтах и на подъездных антивандальных щитах, рекламой в маршрутках и торговых центрах. За 11 
        br.no-br-xxl
        | лет работы мы установили более 2800 щитков в 5 городах обслуживания, которые пользуются популярностью у 
        br.no-br-xxl
        | наших постоянных клиентов.
        br
        br
        | С 2020 года мы начали активно расширяться в этой сфере, увеличили выручку в 6 раз и продолжаем ежегодно 
        br.no-br-xxl
        | удваивать доход. Все наши знания и опыт мы готовы передать новым партнерам, чтобы вы могли быстро вырасти 
        br.no-br-xxl
        | и перейти к масштабированию собственного рекламного бизнеса в вашем регионе.
        br
        br
        | Мы поможем вам заключать договора с УК и ЖЭУ, ведь у нас уже сформирован грамотный алгоритм ведения 
        br.no-br-xxl
        | переговоров. Подскажем, как продавать ваши услуги и находить большое количество клиентов. Автоматизируем 
        br.no-br-xxl
        | основные процессы и защитим от главных ошибок, которые допускают 90% рекламных агентств.
      .about-section__bottom-title.font-w-bold.font-s-24.text-center.text-up
        | Будем рады обсудить все 
        span.color-sea условия сотрудничества
        | !
      form.about-section__form(data-feedback-form)
        textarea.input.input--secondary.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
        .about-section__form-adaptive
          input.input.input--secondary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.btn--secondary(type="submit") Задать вопрос
