section.start-section
  .wrapper
    .start-section__container
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="818" height="858" alt="image")
      h2.start-section__title.font-w-black.font-s-40.text-up
        | Как мы будем запускать ваш рекламный 
        br.no-br
        | бизнес или основные этапы совместной 
        br.no-br
        | работы
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Заключение договора франшизы
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Согласование проектной документации
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Поиск помещения и заключение договора аренды
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Заключение договоров с ЖЭУ
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Монтаж щитков
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Поиск клиентов
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="45" height="45" alt="icon")
            .font-w-regular.font-s-22.color-black Размещение рекламы
        .start-pagination.swiper-progress-start
      .start-section__bottom
        img.start-section__bottom-img(src="images/start-section-bottom-img.png" loading="lazy" width="1180" height="1216" alt="image")
        .start-section__bottom-text.font-w-bold.font-s-24.text-up
          | Работаем строго по 
          br.no-br
          | договору, в котором 
          br.no-br
          | описаны наши 
          br.no-br
          span.color-sea обязанности 
          |  и все 
          br.no-br
          span.color-sea условия сотрудничества
        .start-section__bottom-button
          button.btn.btn--secondary(data-remodal-target="modal-form-agreement") Скачать пример договора
